html {
    background-color: #363636;
}

body {
    color: #4a4a4a;
}

.footer {
    background-color: #363636;
}

.footer p {
    color: rgba(255, 255, 255, 0.9);
}

.rainbow_box {
    background-color: #363636;
}

.draw-text-color {
    color: black
}