html {
    background-color: #ececec;
}

body {
    color: rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: #ececec;
}

.footer p {
    color: rgba(0, 0, 0, 0.9);
}

.rainbow_box {
    background-color: #ececec;
}
